<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand text-white">Gestión Académica</a>

  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav me-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/students" routerLinkActive="active">Estudiantes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/subjects" routerLinkActive="active">Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/student-subjects" routerLinkActive="active">Inscribir Materias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/professors" routerLinkActive="active">Profesores</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/professor-subjects" routerLinkActive="active">Profesores - Materias</a>
      </li>
    </ul>
  </div>
</nav>
